<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content"
                  type="overlay">
            <ion-header class="ion-no-border">
                <ion-toolbar color="tertiary">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <div *ngFor="let p of appPages">
                    <ion-list *ngIf="!p.children"
                              class="p-0">
                        <ion-item routerLink="/u/{{p.link}}"
                                  lines="full">
                            <ion-label>{{p.title}}</ion-label>
                        </ion-item>
                    </ion-list>

                    <ion-accordion-group *ngIf="p.children && p.children.length >0">
                        <ion-accordion value="first">
                            <ion-item slot="header"
                                      color="light">
                                <ion-label>{{p.title}}</ion-label>
                            </ion-item>
                            <div slot="content">
                                <ion-list>
                                    <ion-item *ngFor="let c of p.children"
                                              routerLink="/u/{{p.link}}/{{c.link}}"
                                              lines="full">
                                        <ion-label>{{c.title}}</ion-label>
                                    </ion-item>
                                </ion-list>
                            </div>
                        </ion-accordion>
                    </ion-accordion-group>
                </div>
            </ion-content>
        </ion-menu>

        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>